{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "import/order": ["error"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.babel.js",
          "/webpack.config.js"
        ]
      }
    ]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
